<header id="top_header">
  <div id="header_box" class="header_box drawer drawer--left">
    <h1>
      <div class="ai">
        <a href="#">
          <img src="{% static 'img/logo.svg' %}" alt="" class="logo">
        </a>
      </div>
      <img src="{% static 'img/sitettl.svg' %}" alt="sitettl">
    </h1>
    <div id="move_genre"><a href="#top_form"></a></div>
    <button type="button" class="drawer-toggle drawer-hamburger">
      <span class="drawer-hamburger-icon"></span>
      <span class="drawer-hamburger-icon"></span>
      <span class="drawer-hamburger-icon"></span>
     </button>
    <nav class="drawer-nav">
      <ul class="drawer-menu">
        <li><a href="#">モテ診断AIとは</a></li>
        <li><a href="#">ディップについて</a></li>
        <li><a href="#">採用情報</a></li>
        <li><a href="#">お問い合わせ</a></li>
      </ul>
    </nav>
  </div>
</header>
