{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=1200,  user-scalable=yes, target-densitydpi=device-dpi">
<meta name="keywords" content="モテ診断AI,モテ診断,AI,Twitter,ツイッター,診断">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<title>モテモテ！診断</title>
<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'css/drawer.min.css' %}">
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'css/sp.css' %}">
<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script src="{% static 'js/iscroll.js' %}"></script>
<script src="{% static 'js/drawer.min.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
