@charset "utf-8";
@media screen and (max-width: 970px) {
  #use h2 {
    font-size: 17px;
  }
  footer ul {
    width: 60%;
  }
}
@media screen and (max-width: 800px) {
  #use h2 {
    font-size: 14px;
  }
  footer ul {
    width: 70%;
  }
}
@media screen and (max-width: 667px) {
  .drawer-hamburger {
    top: -9px;
  }
  .drawer-nav {
    width: 49%;
  }
  .drawer-menu {
    padding: 70% 0 0 10%;
  }
  .drawer-menu a {
    font-size: 16px;
  }
  #move_genre {
    display: none;
  }
  #top_header h1 {
    width: 85%;
  }
  #about h2 {
    font-size: 23px;
  }
  #about p {
    font-size: 16px;
    width: 90%;
  }
  #use ul {
    flex-wrap: wrap;
    width: 90%;
  }
  #use ul li {
    border-radius: 10px;
    margin-bottom: 7%;
    padding: 19% 9% 0% 15%;
    width: 100%;
  }
  #use ul li img {
    float: left;
    width: 22%;
  }
  #use h2 {
    font-size: 17px;
    text-align: left;
  }
  .num {
    font-size: 25px;
    width: 14%;
  }
  #top_form {
    display: block;
    padding: 10% 0;
    width: 90%;
  }
  .tw_name {
    box-sizing: border-box;
    margin-bottom: 4%;
    padding: 2% 0;
  }
  .tw_name,
  .diagnosis {
    width: 100%;
  }
  .diagnosis a {
    padding: 1% 0;
  }
  footer ul {
    display: block;
    width: 90%;
  }

  #sub_header {
    padding: 10px;
  }
  #sub_header h1 a img {
    width: 50%;
  }
  #sub_contents  h1, .how02 {
    font-size: 26px;
    margin: 10% 0;
  }
  .how01, .how02 {
    line-height: normal;
    margin: 10% 0 2%;
  }
  #links {
    display: block;
    padding: 0 0 10%;
    width: 100%;
  }
  #links .tweet {
    margin-bottom: 4%;
  }
  #links .tweet, #links .how {
    box-sizing: border-box;
    width: 100%;
  }
  .pannav ul {
    display: flex;
  }
  .pannav li {
    font-size: 12px;
    margin: 0 10px 0 0;
  }
  .pannav li a {
    font-size: 12px;
  }
  .pannav li span {
    margin-right: 10px;
  }
  .how_txt {
    font-size: 16px;
  }









}
