<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=1200,  user-scalable=yes, target-densitydpi=device-dpi">
  <meta name="keywords" content="モテ診断AI,モテ診断,AI,Twitter,ツイッター,診断">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  <title>モテモテ！診断</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/drawer.min.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="css/sp.css">
  <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
  <script src="js/iscroll.js"></script>
  <script src="js/drawer.min.js"></script>
  <script src="js/common.js"></script>

</head>
<body>
<header id="sub_header">
  <div id="header_box" class="header_box drawer drawer--left">
    <h1><a href="#"><img src="img/logo_sub.svg" alt=""></a></h1>
    <button type="button" class="drawer-toggle drawer-hamburger">
      <span class="drawer-hamburger-icon"></span>
      <span class="drawer-hamburger-icon"></span>
      <span class="drawer-hamburger-icon"></span>
     </button>
    <nav class="drawer-nav">
      <ul class="drawer-menu">
        <li><a href="#">モテ診断AIとは</a></li>
        <li><a href="#">ディップについて</a></li>
        <li><a href="#">採用情報</a></li>
        <li><a href="#">お問い合わせ</a></li>
      </ul>
    </nav>
  </div>
</header>
<main>
  <div id="sub_contents">
    <div class="pannav">
      <ul>
        <li>
            <a itemprop="url" href="index.html" title=""><span itemprop="title">TOP</span></a>&#62;
        </li>
        <li>
            <a itemprop="url" href="road.html" title=""><span itemprop="title">診断結果</span></a>&#62;
        </li>
        <li><span itemprop="title" class="pnav_here">どうやって作ってるの？</span></li>
      </ul>
    </div>
    <h1 class="how01">どうやって作ってるの？</h1>
    <p class="how_txt">twitterの情報を分析するには、「自然言語処理」という分野の知識が必要になっています。自然言語処理と同様に難しく感じるかもしれませんが、要するに文章や単語から何かの趣旨を見出しているようなものです。
    今回で言えばそうされた情報の中で特集量としては有用なものを取り出そう、「モテ偏差値」という形で還元しています。何を特集量としてしているかは秘密ですが、案内外簡単な仕組みで作れているんです！その特集量を元に、「ニューラルネットワーク」とはアルゴリズムを通すことで意味のある結果が得られるのです。</p>
    <h2 class="how02">裏側を詳しく知りたい方はコチラで！</h2>
    <p class="how_txt">現在ディップ株式会社では、エンジニアを募集しています。実際にこのサービスの裏側を作っているエンジニアと話して見たい方や、アルゴリズムの詳細などを知りたい方は、一人でオフィスまではらってください!!</p>
    <div id="links">
      <a href="https://www.wantedly.com/projects/102664" class="tweet">一緒に作る</a>
      <!--<button type="submit" class="diagnosis"><a href="road.html">応援する</a></button>-->
      <a href="index.html" class="how">他の人も診断する</a>
    </div>
  </div>
</main>
<footer>
  <ul>
    <li><a href="#">モテ診断AIとは</a></li>
    <li><a href="#">ディップについて</a></li>
    <li><a href="#">採用情報</a></li>
    <li><a href="#">お問い合わせ</a></li>
  </ul>
  <small>Copyright © 2017 AI WANT U All Rights Reserved.</small>
</footer>
</body>
</html>
