{% extends "layout/base.html" %}
{% load static %}

{% block body %}

<div id="road" style="display:none;"></div>

{% include "layout/top_header.html" %}

<main>
  <section id="about">
    <h2>人工知能×SNS×恋愛</h2>
    <p>近年、LINEやTwitterなどのSNSが普及しています。
      <br>
      若者のSNS利用者は約8割。
      <br>
      <br>
      さらに、恋愛の仕方も変化しています。
      <br>
      気づいたら異性の友人を好きになっていたり、
      <br>
      一目惚れしたりだけではなく、SNSから始まる恋もあるのでは…。
      <br>
      <br>
      いま手元にあるSNSに、効率的なマッチングをしてくれる人工知能をプラスしたら
      <br>
      運命の相手を見つけ出す恋の架け橋ができるのではないでしょうか。
      <br>
      <br>
      まずはモテ診断AI「アイウォンチュー」で
      <br>
      Twitter上でのあなた自身のモテ度を検証してみましょう。
      <br>
      そして気になる友人、さらには芸能人のモテ度と比較してみしょう。
    </p>
  </section>
  <section id="use">
    <ul>
      <li>
        <div class="num">1</div>
        <img src="{% static 'img/useIcon01.svg' %}" alt="">
        <h2>ツイッター<br>アカウント名を入力</h2>
      </li>
      <li>
        <div class="num">2</div>
        <img src="{% static 'img/useIcon02.svg' %}" alt="">
        <h2>AIがアカウント解析</h2>
      </li>
      <li>
        <div class="num">3</div>
        <img src="{% static 'img/useIcon03.svg' %}" alt="">
        <h2>友達の診断も<br>してみましょう</h2>
      </li>
    </ul>
  </section>
  <form action="{% url 'coluclate_mote:result' %}" method="post" id="top_form">
    {% csrf_token %}
  {% if messages %}
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  {% endif %}
    {{ form }}
    <button type="submit" class="diagnosis">診断</button>
  </form>
</main>

{% include 'layout/footer.html' %}

{% endblock %}
